.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item{
    width: 500px;
    margin: 20px;
}

header{
    background-color: aliceblue;
}
main{
    background-color: aliceblue;
}
nav{
    background-color: aliceblue;
}

footer{
    background-color: aliceblue;
}

